.containerHomepage {

  .spotlight{

    .spotlightImage{
      background-size: 100%,cover!important;
      background-position: 50%,50%!important;
      width: 100%;
      height: 600px;
      position: relative;
      >div{
        z-index: 100;
        max-width: 700px;
        position: absolute;
        bottom: 40px;
        left: 100px;
        margin-right: 20px;
        min-height: 100px;
        background: transparent;
        color: var(--var(--white));

        h1{
          line-height: 5rem;
        }
      }
    }

  }

  @media screen and (min-width: 401px) and (max-width: 720px){
    .allMovies{
      .movieGrid{
        grid-template-columns: auto auto !important;
        .movieGridItem:nth-child(2n+2) {
          margin-right: 0 !important;
        }
      }
    }
  }

  @media screen and (max-width: 400px){
    .allMovies{
      .movieGrid{
        grid-template-columns:  auto !important;
        .movieGridItem{
    
          margin-left:auto !important;
          margin-right:auto !important;
          max-height: 100% !important;
          margin-bottom: 1.5rem;
         
        }
      }
    }
  }

  .searchContainer {
    padding: 2rem 4rem;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    margin: auto;
    height: 100px;
    .search {
      position: absolute;
      margin: auto;
      top: 0;
      //right: 0;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: var(--purple-800);
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      &:hover {
        cursor: pointer;
      }
      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: var(--white);
        transform: rotate(45deg);
        transition: all .5s;
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid var(--white);
        transition: all .5s;
      }
    }
    input {
      font-family: 'Inconsolata', monospace;
      position: absolute;
      margin: auto;
      top: 0;
      //right: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      outline: none;
      border: none;
      background: var(--white);
      color: black;
      text-shadow: 0 0 10px var(--purple-800);
      padding: 0 80px 0 20px;
      border-radius: 30px;
      box-shadow: 0 0 5px 0 var(--purple-300),
                  0 20px 25px 0 rgba(0, 0, 0, 0.2);
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        width: 100%;;
        opacity: 1;
        cursor: text;
      }
      &:focus ~ .search {
        left: 96%;
        z-index: 6;
        &::before {
          top: 0;
          left: 0;
          width: 25px;
        }
        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: var(--white);
          border-radius: 0%;
          transform: rotate(-45deg);
        }
      }
      &::placeholder {
        color: black;
        opacity: 0.5;
        font-weight: bolder;
      }
      
    }
        
  }

  .allMovies{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 2rem;
    .movieGrid{
      display: grid;
      grid-template-columns: auto auto auto auto;
      margin-top: 2rem;
      .movieGridItem {
        margin: 0 40px 40px 0;
        max-height: 430px;
        animation: animateGrid .5s;
        overflow: hidden;
        &:nth-child(4n+4) {
          margin-right: 0;
        }
        >div{
          height: 100%;
          a{
            cursor: pointer;
          }
          img{
            width: 500px;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            transition: all .3s;
            box-sizing: border-box;
          }
        }

      }
    }

  }


}